// Abstracts
@import "abstracts/functions";
@import "abstracts/mixins";
@import "abstracts/variables";

// Base
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

// Components
@import "components/button";
@import "components/composition";
@import "components/feature-card";
@import "components/card";
@import "components/story";

// Layout
@import "layout/header";

// Pages
@import "pages/home";

.section-stories {
  position: relative;
  padding: 9.6rem 0;

  .bg-video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.15;
  }

  .bg-video video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
