.navigation {
  &__checkbox {
    display: none;
  }

  &__background {
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );

    width: 6.5rem;
    height: 6.5rem;
    border-radius: 50%;

    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    z-index: 1000;

    transition: all 0.8s ease-in;
  }

  &__btn {
    background-color: $color-white;

    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    display: inline-block;
    box-shadow: 0 1.6rem 1.6rem rgba($color-black, 0.1);

    top: 6.5rem;
    right: 6.5rem;

    position: fixed;
    z-index: 2000;

    &:hover .navigation__icon {
      &::before {
        height: 2px;
        transform: translateY(-1.2rem);
      }
      &::after {
        height: 2px;
        transform: translateY(1.2rem);
      }
    }
  }

  &__icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &,
    &::before,
    &::after {
      position: absolute;
      z-index: inherit;
      width: 3.5rem;
      height: 1.5px;
      background-color: $color-gray-dark-1;
      display: inline-block;
      transition: transform 0.2s;
    }
    &::before {
      content: "";
      transform: translateY(-1rem);
    }

    &::after {
      content: "";
      transform: translateY(1rem);
    }
  }

  &__checkbox:checked + &__label &__icon {
    & {
      background-color: transparent;
    }

    &::before {
      transform: rotate(45deg);
      height: 3px;
    }

    &::after {
      transform: rotate(-45deg);
      height: 3px;
    }
  }

  &__nav {
    position: fixed;
    left: 0;
    top: 0;

    width: 0;
    height: 100vh;

    z-index: 1500;

    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;

    list-style: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__link {
    animation: navMoveOut 0.4s ease-in;
    animation-fill-mode: forwards;
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-white;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 300;

      display: inline-block;
      padding: 1rem 1rem;

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 60%,
        $color-white 60%
      );
      background-size: 300%;

      transition: all 0.4s;

      span {
        margin-right: 1.2rem;
      }
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked {
    & ~ .navigation__nav {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;

      width: 100%;
    }

    & ~ .navigation__nav .navigation__link {
      animation: navMoveIn 0.4s ease-out 0.4s;
      animation-fill-mode: backwards;
    }

    & ~ .navigation__background {
      transform: scale(50);
    }
  }
}
