.navigation {
  position: fixed;
  top: 6.4rem;
  right: 6.4rem;
  z-index: 1000;

  &__btn {
    position: relative;
    display: none;
  }

  &__label {
    background-color: white;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    z-index: inherit;
    display: inline-block;
    position: relative;
    box-shadow: 0 1.6rem 1.6rem rgba($color-black, 0.1);

    &:hover .navigation__icon {
      &::before {
        height: 2px;
        transform: translateY(-1.2rem);
      }
      &::after {
        height: 2px;
        transform: translateY(1.2rem);
      }
    }
  }

  &__icon {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    &,
    &::before,
    &::after {
      position: absolute;
      z-index: inherit;
      width: 3.5rem;
      height: 1.5px;
      background-color: $color-gray-dark-1;
      display: inline-block;
      transition: transform 0.2s;
    }
    &::before {
      content: "";
      transform: translateY(-1rem);
    }

    &::after {
      content: "";
      transform: translateY(1rem);
    }
  }

  &__btn:checked + &__label &__icon {
    & {
      background-color: transparent;
    }

    &::before {
      transform: rotate(45deg);
      height: 3px;
    }

    &::after {
      transform: rotate(-45deg);
      height: 3px;
    }
  }
}

.nav {
  animation: navClose 0.4s ease-out 0.4s;
  animation-fill-mode: forwards;

  background-color: $color-primary-dark;
  position: fixed;
  left: 0;
  top: 0;

  width: 100vw;
  height: 100vh;

  &__list {
    position: absolute;

    list-style: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__link {
    animation: navMoveOut 0.4s ease-in;
    animation-fill-mode: forwards;
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-white;
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 300;

      display: inline-block;
      padding: 1.6rem 3.2rem;

      span {
        margin-right: 1.2rem;
      }
    }
  }
}

.navigation__btn:checked {
  & ~ .nav {
    animation: navOpen 0.4s ease-in;
    animation-fill-mode: backwards;
  }

  & ~ .nav .nav__link {
    animation: navMoveIn 0.4s ease-out 0.4s;
    animation-fill-mode: backwards;
  }
}
