.card {
  // Functionality
  width: 100%;
  height: 52rem;

  perspective: 150rem;
  position: relative;

  &__face {
    z-index: 100;
    box-shadow: 0 1.2rem 2.4rem rgba($color-black, 0.1);
    border-radius: 3px;
    overflow: hidden;
    backface-visibility: hidden;
    width: 100%;
    height: 52rem;
    position: absolute;
    transition: all 0.6s ease;

    &--back {
      transform: rotateY(180deg);
    }

    &--front {
      transform: rotateY(0deg);
    }
  }

  &:hover &__face--front {
    transform: rotateY(-180deg);
  }

  &:hover &__face--back {
    transform: rotateY(0deg);
  }

  //   Front Styling
  &__face--front {
    background-color: $color-white;
  }

  &__picture {
    background-size: cover;
    background-position: top;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    height: 23rem;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url("img/nat-5.jpg");
    }

    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url("img/nat-6.jpg");
    }

    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url("img/nat-7.jpg");
    }
  }

  &__heading {
    position: absolute;
    right: 2rem;
    top: 12rem;

    text-transform: uppercase;
    color: $color-white;
    font-size: 2.8rem;
    font-weight: 300;
    width: 75%;
    text-align: right;
    display: inline-block;

    &-span {
      padding: 1rem 1.5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      text-align: right;

      &--1 {
        background-image: linear-gradient(
          to bottom right,
          rgba($color-secondary-light, 0.8),
          rgba($color-secondary-dark, 0.8)
        );
      }

      &--2 {
        background-image: linear-gradient(
          to bottom right,
          rgba($color-primary-light, 0.8),
          rgba($color-primary-dark, 0.8)
        );
      }

      &--3 {
        background-image: linear-gradient(
          to bottom right,
          rgba($color-tertiary-light, 0.8),
          rgba($color-tertiary-dark, 0.8)
        );
      }
    }
  }

  &__desc {
    text-align: center;
    padding: 3rem 0;
    &-list {
      list-style: none;
      display: inline-flex;
      flex-direction: column;
    }

    &-item {
      padding: 0.8rem 2.4rem;
    }

    &-item:not(:last-child) {
      border-bottom: 1px solid $color-gray-light-2;
    }
  }

  //   Back Styling
  &__face--back {
    position: relative;

    &-1 {
      background-image: linear-gradient(
        to bottom right,
        $color-secondary-light,
        $color-secondary-dark
      );
    }

    &-2 {
      background-image: linear-gradient(
        to bottom right,
        $color-primary-light,
        $color-primary-dark
      );
    }

    &-3 {
      background-image: linear-gradient(
        to bottom right,
        $color-tertiary-light,
        $color-tertiary-dark
      );
    }
  }

  &__price-box {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__price--only {
    display: block;
    color: $color-white;
  }

  &__price {
    display: block;
    color: $color-white;
    font-size: 6.4rem;
    font-weight: 100;
    margin-bottom: 6.4rem;
  }

  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    height: auto;
    box-shadow: 0 1.2rem 2.4rem rgba($color-black, 0.1);
    border-radius: 3px;
    overflow: auto;
    background-color: $color-white;

    &__face {
      border-radius: none;
      box-shadow: none;
      height: auto;
      position: relative;

      &--back {
        transform: rotateY(0deg);
      }

      &--front {
        transform: rotateY(0deg);
      }
    }

    &:hover &__face--front {
      transform: rotateY(0);
    }

    &__picture {
      clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
      background-position: 10%;
      height: 40rem;
    }

    &__heading {
      top: 33rem;
      line-height: 1.5;
      font-size: 3.6rem;
      width: 100%;
    }

    //   Back Styling
    &__face--back {
      position: relative;
      clip-path: polygon(0 15%, 100% 0%, 100% 100%, 0 100%);
    }

    &__price-box {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0, 0);
      padding: 4.8rem 0 3.6rem 0;
    }

    &__price {
      font-size: 4.8rem;
      margin-bottom: 2.4rem;
    }
  }

  @include respond(phone) {
    &__picture {
      background-position: cover;
      height: 23rem;
    }

    &__heading {
      top: 16rem;
      right: 1rem;
      line-height: 1.7;
      font-size: 2.4rem;
      width: 50%;
    }
  }
}
