.story {
  padding: 6.4rem;
  width: 75%;
  margin: 0 auto;
  background-color: rgba($color-white, 0.6);
  transform: skewX(-12deg);
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);

  border-radius: 3px;

  @include respond(tab-port) {
    width: 90%;
  }

  @include respond(phone) {
    transform: skewX(0);
    padding: 3.6rem 2.4rem;
  }
  &:not(:last-child) {
    margin-bottom: 9.6rem;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  &__shape {
    width: 15rem;
    height: 15rem;

    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    transition: all 0.4s;
    float: left;
    position: relative;

    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
      float: none;
      margin: 0 auto;
      margin-bottom: 2.4rem;
    }
  }

  &__img {
    height: 100%;
    transition: all 0.5s;
    transform: scale(1.4) translateX(-3rem);
    backface-visibility: hidden;
  }

  &__author {
    position: absolute;
    opacity: 0;
    transform: translate(-50%, 0);
    color: $color-white;

    transition: all 0.5s;
    text-transform: uppercase;
    text-align: center;

    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
  }

  &__text {
    transform: translateX(2rem) skewX(12deg);

    @include respond(phone) {
      transform: translateX(2rem) skewX(0);
    }
  }
  &:hover &__author {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    filter: blur(4px) brightness(80%);
    transform: scale(1) translateX(-3.5rem);
  }
}
