.story {
  padding: 6.4rem 9.6rem 6.4rem 9.6rem;
  width: 80%;
  margin: 0 auto;
  background-color: rgba($color-white, 0.8);
  clip-path: polygon(7% 0, 100% 0, 93% 100%, 0 100%);

  &:not(:last-child) {
    margin-bottom: 9.6rem;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  &__shape {
    width: 15rem;
    height: 15rem;

    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);

    transition: all 0.4s;
    float: left;
    position: relative;
  }

  &__img {
    height: 100%;
    transition: all 0.4s;
    transform: scale(1.4) translateX(-3rem);
  }

  &__author {
    position: absolute;
    bottom: -10%;
    left: 57%;
    opacity: 0;
    transform: translate(-50%, 0);
    color: $color-white;

    transition: all 0.8s;
    text-transform: uppercase;
  }

  &__text {
    transform: translateX(2rem);
  }

  &:hover &__author {
    top: 57%;
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    filter: blur(4px);
    transform: scale(1) translateX(-3.5rem);
  }
}
