@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navOpen {
  0% {
    clip-path: circle(0 at 92.5% 14%);
    display: block;
  }

  100% {
    clip-path: circle(150% at 92.5% 14%);
  }
}

@keyframes navClose {
  0% {
    clip-path: circle(150% at 92.5% 14%);
  }

  100% {
    clip-path: circle(0 at 92.5% 14%);
    display: none;
  }
}

@keyframes navMoveIn {
  0% {
    transform: translateX(-40rem);
    opacity: 0;
  }

  60% {
    transform: translateX(10rem);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes navMoveOut {
  0% {
    transform: translateX(0);
    opacity: 1;
  }

  40% {
    transform: translateX(10rem);
  }

  100% {
    transform: translateX(-40rem);
    opacity: 0;
  }
}
