.section-about {
  background-color: $color-gray-light-1;
  clip-path: polygon(0 0, 100% 0, 100% 115vh, 0 100%);

  position: relative;
  padding: 25rem 0;
  z-index: 9999;
}

.section-features {
  z-index: 7;
  margin-top: -19vh;
  position: relative;
  padding: 25rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);

  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top left;
}
